<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    1.创建spring控制的资源-->
<!--        将业务层的实现类放到spring中-->
<!--    bean可以使用多个名称，使用name属性完成，中间使用,分隔-->
<!--        class是bean的类型-->
<!--    scope用于控制bean创建后的对象是否是单例的，不写的话默认是单例的，否则prototype就不是单例-->
<!--    <bean id="userService" scope="prototype" name="userService2,userService3" class="cn.cstube.service.impl.UserServiceImpl"/>-->

    <!--   init-method 与 destory-method 用于控制bean的生命周期-->
<!--    <bean id="userService" init-method="init" destroy-method="destory" name="userService2,userService3" class="cn.cstube.service.impl.UserServiceImpl"/>-->

<!--    静态工厂创建bean-->
<!--    <bean id="userService" class="cn.cstube.service.UserServiceFactory" factory-method="getService"/>-->
<!--实例工厂对应的bean-->
    <bean id="factoryBean" class="cn.cstube.service.UserServiceFactory2"/>
<!--实例工厂创建bean,依赖工厂对象对应的bean-->
    <bean id="userService5" factory-bean="factoryBean" factory-method="getService"/>
</beans>